<div class="intrest-Rate">
    <div class="rateS">
        <hr>
        <div class="container-fluid gridRow">
            <!-- <div class="row"> -->
                <div class="row">
                    <div class="row align-items-center gridStyle mt-2"
                        style="background-color: rgba(43, 190, 95, 0.1);">
                        <!-- Select Bank -->
                        <div class=" col-lg-3 col-sm-6 d-flex bankCol">
                            <div class="col-lg-2 col-sm-4">
                                <label class="unitLabel">Bank</label>
                            </div>
                            <div class="col-lg-3 col-sm-6 drpdown">
                                <ng-select [clearable]="false" [(ngModel)]="bankCode"
                                    id="Bank" name="unitName" [items]=unitsData placeholder="Select Bank"
                                    bindLabel="bank" bindValue="unit" (change)="getbankCode($event)" required [attr.title]="isDropdownOpen ? null : showSelectedBank" (open)="isDropdownOpen = true"
                                    (close)="isDropdownOpen = false">
                                    <ng-template ng-option-tmp let-item="item">
                                        <span class="ng-option-label" [attr.title]="item.bank">{{ item.bank }}</span>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                        <!-- FY Start -->
                        <div class="col-lg-3 col-sm-6 d-flex">
                            <div class="col-lg-3 col-sm-3">
                                <label class="unitLabel">FY Start</label>
                            </div>
                            <div class="col-lg-3 col-sm-6 drpdown">
                                <ng-select [clearable]="false" [(ngModel)]="selectedStartYear"
                                    (ngModelChange)="updateEndYears()" id="startYear">
                                    <ng-option *ngFor="let year of startYears" [value]="year">{{ year }}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <!-- FY End -->
                        <div class="col-lg-3 col-sm-6 d-flex fyEndCol">
                            <div class="col-lg-3 col-sm-4">
                                <label class="unitLabel">FY End </label>
                            </div>
                            <div class="col-lg-3 col-sm-6 drpdown">
                                <ng-select [clearable]="false" placeholder="select year" [(ngModel)]="selectedEndYear"
                                    (ngModelChange)="EndYears()" id="endYear">
                                    <ng-option *ngFor="let year of endYears" [value]="year">{{ year }}</ng-option>
                                </ng-select>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="col-lg-3 col-sm-6  text-center">
                            <button class="btn btn-success btn-sm btnNRLM" (click)="getRatesData()">Submit</button>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="row"> -->
                <div class="row">
                    <div class="align-items-center secondGrid">
                        <div class="row">
                            <div class="col-lg-1 col-sm-2 col-xs-1 colStyle">
                                <img (click)="generatePDF(gridOptions)" src="../../assets/image/pdf icon.svg"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Download Pdf">
                            </div>
                            <div class="col-lg-1 col-sm-2 col-xs-1 colStyle">
                                <img (click)="downloadExcel()" src="../../assets/image/excel icon.svg"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Download Excel">
                            </div>
                            <div class="col-lg-3 col-sm-5 col-xs-8 colStyles">
                                <form [formGroup]="myForms">
                                    <!-- Use different methods -->
                                    <ng-multiselect-dropdown class="promo statuses111" formControlName="name"
                                        [settings]="dropdownSettings" [data]="toppingList" (onSelect)="ColumnSelect($event)"
                                        (onDeSelect)="ColumnDeSelect($event)" (onDeSelectAll)="ColumnDeSelectOrAll($event)"
                                        (onSelectAll)="ColumnSelectOrAll($event)">
                                    </ng-multiselect-dropdown>
                                </form>
                            </div>
                            <div class="col-lg-1  col-sm-2 col-xs-2 pLabel">
                                <label class="entityLabel">Rate</label>
                            </div>
                            <div class="col-lg-2 col-sm-4 col-xs-3 colStyles search1">
                                <div class="d-flex searchBarstyle">
                                    <mat-icon class="searchIcon">search</mat-icon>
                                    <input class="searchInput searchbarInput" type="text" name=""
                                        (keyup)="onFilterTextBoxChanged(gridOptions,$event)" placeholder="Search ">
                                </div>
                            </div>
                            <!-- (click)="addEntity()" -->
                            <div class="col-lg-3 col-sm-8 col-xs-6 colStyleIcon">
                                <div class="row">
                                
                                    <div class="col-2" *ngIf="showhided && authorizePermission">
                                        <img src="../../assets/image/view.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="View Rate" (click)="viewEnity()" class="viewEn2">
                                        </div>
                                        <div class="col-2"
                                            *ngIf="authorizePermission && showhided && checker !== maker && statusname !== 'A' && statusname !== 'R'">
                                            <img src="../../assets/image/Authorize-button.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Authorize Rate" class="AuthImg"
                                                (click)="AuthorizeEntity()">  
                                    </div>
                                    <div class="col-2" *ngIf="showhided && !authorizePermission">
                                        <img src="../../assets/image/view.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="View Rate" (click)="viewEnity()" [ngClass]="showhided ? 'viewEn': 'viewEn1'">
                                    </div>
                                    <div class="col-2" data-bs-toggle="modal" data-bs-target="#exampleModalUpload"
                                        routerLinkActive="active" *ngIf="AddPermission" [ngClass]="showhided ? 'colAdd1': 'colAdd'">
                                        <img src="../../assets/image/add new icon.svg" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Add Rate">
                                    </div>
                                    <div class="col-2 editImgCol" *ngIf="showhided && !authorizePermission">
                                        <img src="../../assets/image/edit.svg" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Edit Rate" class="editImg" (click)="editEnity()"
                                            *ngIf="EditPermission && checker===maker && (statusname === 'U' || statusname === 'M' || statusname === 'R'|| statusname === 'A')">
                                        <img src="../../assets/image/edit.svg" data-bs-toggle="tooltip"
                                            (click)="editRateDialog()" data-bs-placement="top" title="Edit Rate" class="editImg"
                                            *ngIf="EditPermission && checker!==maker && (statusname === 'U' || statusname === 'M'|| statusname === 'R' || statusname === 'A')">
                                        <ng-container
                                            *ngIf="authorizePermission && showhided && checker !== maker && statusname !== 'A' && statusname !== 'R'">
                                            <img src="../../assets/image/Authorize-button.svg" data-bs-toggle="tooltip"
                                                data-bs-placement="top" title="Authorize Rate" class="AuthImg"
                                                (click)="AuthorizeEntity()">
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                                <!-- <ng-container *ngIf="EditPermission && showhided && statusname === 'R' && deletePermission">
                                    <img data-bs-toggle="modal" data-bs-target="#exampleModalToggle3"
                                        style="margin-left: 8px;" src="../../assets/image/Delete-button.svg"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Rate" class="editImg"
                                        (click)="deleteEntity()">
                                </ng-container> -->
                            <!-- <img src="../../assets/image/upload.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Bulk Upload" class="editImg" *ngIf="EditPermission && showhided"> -->
                        </div>
                    </div>
                </div>
            <!-- </div> -->
                    <div class="row">
                        <div class="gridStyleMain">
                            <div class="col-12">
                                <ag-grid-angular class="gridUnit"
                                    style=" height: 490px; position: relative; right: 4px;text-align: center;"
                                    class="ag-theme-alpine" [rowData]="interestRateData" [defaultColDef]="defaultColDef"
                                    [columnDefs]="columnDefs" [paginationAutoPageSize]="false" [pagination]="true"
                                    [paginationPageSize]="pageSize" [cacheBlockSize]="pageSize"
                                    [paginationNumberFormatter]="customNumberFormatter" [groupSelectsChildren]="true"
                                    (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            <div class="row">
                <div class="col-12 footer m-0">
                    <app-nrlm-footer></app-nrlm-footer>
                </div>
            </div>
      
 
        <!-- Popup for when checker and maker are not same for Delete -->
        <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center" style="background:#E1F6E8 !important">
                  <h1 class="modal-title text-center flex-grow-1" id="exampleModalLabel">Comment</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-5">
                  <h4>You are not the maker are your still wants to delete ?</h4>
                </div>
                <div class="modal-footer justify-content-around m-3" >
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="deleteEntity()">Yes</a>
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#exampleModalToggle">No</a>
                  </div>
              </div>
            </div>
          </div>
        <!-- Popup for when checker and maker are not same for Edit -->
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header d-flex justify-content-center" style="background:#E1F6E8 !important">
                  <h1 class="modal-title text-center flex-grow-1" id="exampleModalLabel">Comment</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-5">
                  <h4>You are not the maker are your still wants to Edit ?</h4>
                </div>
                <div class="modal-footer justify-content-around m-3" >
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" (click)="editEnity()">Yes</a>
                  <a class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" data-bs-target="#exampleModalToggle">No</a>
                  </div>
              </div>
            </div>
          </div>

    <!-- NRLM Upload  Screen-->
    <div class="modal fade modal-xl" id="exampleModalUpload" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="container modal-content addRate">
                <div class="row d-flex">
                    <div class="col-4">
                        <img src="../../assets/image/close.png" data-bs-dismiss="modal" aria-label="Close" class="close-icon">
                    </div>
                </div>
                <div class="row m-0 d-flex addModalRow">
                    <!-- select unit -->
                    <div class="col-lg-3 col-sm-6 d-flex modalBankCol">
                        <div class="col-lg-2 col-sm-4">
                            <label class="unitLabel">Bank</label>
                        </div>
                        <div class="col-lg-6 col-sm-8 drpdown">
                            <ng-select [clearable]="false" [(ngModel)]="selectedBank" class="levelDropdown" id="unitName" name="unitName"
                            [items]="addRateBanks" placeholder="Select Bank" bindLabel="bank" bindValue="unit"
                            required (change)="getSelectedBank($event)" [attr.title]="isDropdownOpen ? null : showAddSelectedBank" (open)="isDropdownOpen = true"
                            (close)="isDropdownOpen = false" >
                            <ng-template ng-option-tmp let-item="item">
                                <span class="ng-option-label" [attr.title]="item.bank">{{ item.bank }}</span>
                            </ng-template>
                        </ng-select>
                        </div>
    
                    </div>
                    <!-- fy ending -->
                    <div class="col-lg-3 col-sm-6 d-flex modalFyCol">
                        <div  class="col-lg-3 col-sm-4">
                            <label class="unitLabel">FY End</label>
                        </div>
                        <div class="col-lg-6 col-sm-8 drpdown">
                            <ng-select [clearable]="false" [(ngModel)]="selectedFyEndDates" (ngModelChange)="SelectedFyEnding()" id="startYear">
                                <ng-option *ngFor="let year of startYearspopup" [value]="year">{{ year }}</ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 d-flex modalQtrCol">
                        <div class="col-lg-3 col-sm-4">
                            <label  class="unitLabel">Qtr End</label>
                        </div>
                        <div class="col-lg-6 col-sm-8 drpdown">
                            <ng-select [clearable]="false" [(ngModel)]="selectedQtrEndDate" (ngModelChange)="onSelectFinancialYearQtrEndpopup()" placeholder="select year" id="endYear">
    
                                <ng-option *ngFor="let year of qtdata" [value]="year">{{ year }}</ng-option>
                            </ng-select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-4 modalBtnCol">
                        <button [disabled]="!selectedBank || !selectedQtrEndDate || !selectedFYEndDate || !addRateBanks"
                        class="btn btn-success btn-sm btnNRLM" data-bs-toggle="modal"
                        data-bs-target="#exampleModalLstQtr" (click)="checkAddEnable()">Submit</button>

                    </div>
                </div>
        </div>
    
    </div>
</div>

</div>
<app-warning-log-dialog (rateEvent)="editEnity()"></app-warning-log-dialog>
<app-error-dialog></app-error-dialog>