<!-- <p>dashboard-header works!</p> -->




<div class="row" style="bottom: 43px;margin-left: 14%;position:relative;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <img src="../../assets/image/Ministry of Rural Development Government of India.svg" alt=""
        class="img1styl">
    </div>
    <!-- <div class="col-lg-3 col-md-3 ">
      <img src="../../assets/image/logoImg1.png" alt="" style="width:80px;height: 50px;">
    </div> -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
      <img src="../../assets/image/logoImg2.png" alt="" class="img2styl">
    </div>
    <div class="col-lg-3 col-md-3  groupLogo col-sm-3 col-3">
      <img src="../../assets/image/Group 1.svg" alt="" class="img3styl">
    </div>
    <!-- <div class="col-lg-3 col-md-3  groupLogo col-sm-3 col-3">
      <button type="button" class="loginBtn" data-bs-toggle="button" (click)="loginIn()">
        <img src="../../assets/image/login.png" class="img4styl" alt="" class="loginImg">
        LOGIN</button>
    </div> -->
    <div class="col-lg-3 col-md-3  groupLogo col-sm-3 col-3">
            <img src="../../assets/image/arrow 1.svg" class="img4styl" (click)="Logout()" alt="" class="arrowLogo" matTooltip="Logout">
    </div>
  </div>
  <app-logout-dialog></app-logout-dialog>