<div [ngClass]="labelKey=='20211' ? 'nrlmUploadView' : 'nrlmUploadView1'">
    <div class="nrlmUpload">
        <hr>
        <div class="container-fluid" [ngClass]="labelKey=='20211' ? 'gridRow' : 'gridRow1'">
            <div class="row">
                <div class="row mt-2 align-items-center d-flex text-center gridStyle">
                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="labelKey=='20211'">
                        <label class="nrlmUploadHeader">NRLM Master Upload View</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="labelKey=='20215'">
                        <label class="nrlmUploadHeader">Closed Accounts Upload View</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row fRow" *ngIf="labelKey=='20211'">
                    <div class="col-lg-3 col-md-6 col-sm-6 firstRow">
                        <div class="col-6">
                            <label class="unitLabel">FY Ending</label>
                        </div>
                        <div class="col-4 inpBox">
                            <input class="viewBox" type="" disabled [(ngModel)]="selectedLevelData[0].yr">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 firstRow">
                        <div class="col-6">
                            <label class="unitLabel">State Code</label>
                        </div>
                        <div class="col-8 inpBox">
                            <input class="viewBox" type="" disabled [(ngModel)]="selectedLevelData[0].state_id">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 firstRow">
                        <div class="col-6">
                            <label class="unitLabel">Bank Code</label>
                        </div>
                        <div class="col-8 inpBox">
                            <input class="viewBox" type="" disabled [(ngModel)]="selectedLevelData[0].bank_code">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-8 firstRow">
                        <div class="col-6">
                            <label class="unitLabel">State Name</label>
                        </div>
                        <div class="col-8 inpBox">
                            <input class="viewBox" type="" disabled [(ngModel)]="selectedLevelData[0].state_name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 firstRow">
                        <div class="col-6">
                            <label class="unitLabel">Bank Name</label>
                        </div>
                        <div class="col-8 inpBox">
                            <input class="viewBox" type="" disabled [(ngModel)]="selectedLevelData[0].bank_name">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="gridStyleMain">
                    <div class="col-12">
                        <ag-grid-angular *ngIf="labelKey=='20211' " class="ag-theme-alpine gridUnit"
                            [rowData]="selectedLevelData" (gridReady)="onGridReady($event)"
                            style="font-size: 12px; height: 455px; position: relative; right: 4px;"
                            (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                            [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [pagination]="true"
                            [paginationAutoPageSize]="false" [paginationPageSize]="pageSize"  [rowHeight]="rowHeight"
                            [headerHeight]="rowHeight">
                        </ag-grid-angular>
                        <ag-grid-angular *ngIf="labelKey=='20215'" class="ag-theme-alpine gridUnit"
                            style="font-size: 12px; height: 455px; position: relative; right: 4px;"
                            [rowData]="selectedLevelData" (gridReady)="onGridReady($event)"
                            (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)"
                            [defaultColDef]="defaultColDef" [columnDefs]="columnDefs2" [pagination]="true"
                            [paginationAutoPageSize]="false" [paginationPageSize]="pageSize"  [rowHeight]="rowHeight"
                            [headerHeight]="rowHeight">
                        </ag-grid-angular>
                    </div>
                </div>
              
            </div>

            <div class="row">
                <div class="col-12 backBtn">
                    <button type="button" (click)="back()" class="btn btn-primary backButton">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 footer">
        <app-nrlm-footer></app-nrlm-footer>
    </div>
</div>

<app-error-dialog></app-error-dialog>